# ----------------------
# Python cache files
# ----------------------
__pycache__/
*.py[cod]

# ----------------------
# Environment variables
# ----------------------
.env

# ----------------------
# Virtual environment
# ----------------------
venv/
.venv/
myvenv/

# ----------------------
# IDE/editor files
# ----------------------
.vscode/
.idea/

# ----------------------
# Downloaded or processed images
# ----------------------
app/utils/images/